<mat-card>
    <mat-card-title>Acceso al sistema</mat-card-title>
    <mat-card-content>
    <form [formGroup]="form" (submit)="onSubmit(form.value)">
        <p>
            <mat-form-field>
                <input name="email" formControlName="email" type="text" matInput placeholder="Email">
            </mat-form-field>
        </p>

        <p>
            <mat-form-field>
                <input type="password"  name="password" formControlName="password" matInput placeholder="Password">
            </mat-form-field>
        </p>

        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
    </form>
</mat-card-content>
</mat-card>
