.contenedorPadre{
    width: 100%;
    text-align:center;
    height: 50px;
    background-color:LightSeaGreen;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .contenedorHijo{
    background-color:LightSeaGreen;
    height: 50px;
    width: 60% ;
    margin-left: 1%;
    color:white;
    display: grid;
      /*Tendremos tres columnas*/
      grid-template-columns:25% 25% 25% 25% 25%;
      /*Espacio entre columnas*/

  }
  .component1{
   grid-row: 1;
   grid-column: 1;
  }
  .component2{
    grid-row: 1;
    grid-column: 2;
   }
   .component3{
    grid-row: 1;
    grid-column: 3;
   }
   .component4{
    grid-row: 1;
    grid-column: 4;
   }

   .component5{
    grid-row: 1;
    grid-column: 5;
   }


   .box{
    background-color:LightSeaGreen;
      font-size: 95%;
      color:white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      //font-weight: bold;
      display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0%;
    border:none;
  }
  .box:hover{
    background-color: Teal;
    border:none;
  }
  .box:active{
    background-color:CadetBlue;
    border:none;
  }
  .box:link, .box:visited, .box:active {
    text-decoration:none;
  }
  *{
    margin:0;
    padding:0;
  }
