<div class="contenedorPadre">
    <div class="contenedorHijo">
      <!--
      <div class="component1 box">Elemento 1</div>
      <div class="component2 box">Elemento 2</div>
      <div class="component3 box">Elemento 3</div>
      -->
       <!--
      <a><div class="component1 box">Elemento 1</div></a>
      <a><div class="component2 box">Elemento 2</div></a>
      <a><div class="component3 box">Elemento 3</div></a>
      -->
       <!--
      <button onclick="location.href=''" class="component1 box">Elemento 1</button>
      <button onclick="location.href=''" class="component2 box">Elemento 2</button>
      <button onclick="location.href=''" class="component3 box">Elemento 3</button>
      -->
      <a class="component1 box" [routerLink]="['datos-list']"><div>Datos Listado</div></a>
      <a class="component2 box" [routerLink]="['datos-actuales']"><div>Datos actuales</div></a>
      <a class="component3 box" [routerLink]="['datos-edit']"><div>Añadir dato</div></a>
      <a class="component4 box" [routerLink]="['login']"><div>Login</div></a>
    </div>
  </div>
