<div class="contenedorPadre">
    <div class="contenedorHijo">
      <a class="component1 box" [routerLink]="['datos-list']"><div>Datos Listado</div></a>
      <a class="component2 box" [routerLink]="['datos-actuales']"><div>Datos actuales</div></a>
      <a class="component3 box" [routerLink]="['datos-edit']"><div>Añadir dato</div></a>
      <a class="component4 box" [routerLink]="['login']"><div>Login</div></a>
      <a class="component5 box" [routerLink]="['registrarse']"><div>Registrarse</div></a>
    </div>
  </div>
